h1{
    color: red;
}

.ball{
    height: 220px;
    width: 300px;
}

.basketball{
    width:300px;
    height:300px;
}

.lonzo{
    width:300px;
    height:300px;
}

.net{
    width:400px;
    height:300px;
}

